body{
    height: 2000px;
}
.button{
    display: block;
    position: fixed;
    top: 600px;
    left: 40%;
    width: 300px;
    height: 30px;
    background-color: rgb(29, 41, 75);
    color: white;
}
.opacity{
     opacity: 0;
}