#runner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width: 70px;
    height: 70px;
    background-color: darkcyan;
    position: absolute;
}