.link{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    text-shadow: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.activ{
    width: 300px;
    border: 1px solid black;
    background-color: black;
    color: wheat;
    text-align: center;
}