.container{
    width: 500px;
    height: 400px;
    padding: 40px 10px 10px 10px;
    background-color: rgb(100, 63, 185);
    margin: 0 auto;
}
.child{
    display: inline-block;
    width: 150px;
    height: 70px;
    background-color: rgb(46, 17, 116);
    text-align: center;
    padding: 20px 0 0 0 ;
    color:rgb(25, 12, 58);
    font-size: 30px;
    font-weight: bold;
    
}
.child_content{
font-size: 40px;
text-align: center;
width: 100%;
height: 300px;

background-color: white;

}
.hide {
    display: none;
}
.show {
    display: block;
}
.white_activ{
    background-color: white !important;
}